doctype html
html(lang="en")
    head
        title Landing page
    body
        header
            h1 Flash Cards
        section#content
            h2= prompt
            p
                i hint: #{hint}
        footer
            p An app to help you study