extends layout.pug

block content
    section#content
        h2= prompt
        if hint
            p
                i hint: #{hint}
        else
            p
                i No hint for this card!