extends layout.pug

block content
    section#content
        h2= text
        if hint
            p
                i hint: #{hint}
        
        a(href= `${id}?side=${sideToShow}`)= sideToShowText
        br
        a(href= `/cards`) Next Card!