doctype html
html(lang="en")
    head
        title Landing page
    body
        h1 The future home of something magical!
        p Es ist ein lang erwiesener Fakt, dass ein Leser vom Text abgelenkt wird, 
         wenn er sich ein Layout ansieht. Der Punkt, Lorem Ipsum zu nutzen, ist, 
         dass es mehr oder weniger die normale Anordnung von Buchstaben darstellt 
         und somit nach lesbarer Sprache aussieht. Viele Desktop Publisher und 
         Webeditoren nutzen mittlerweile Lorem Ipsum als den Standardtext, auch die 
         Suche im Internet nach "lorem ipsum" macht viele Webseiten sichtbar, 
         wo diese noch immer vorkommen. Mittlerweile gibt es mehrere Versionen des 
         Lorem Ipsum, einige zufällig, andere bewusst (beeinflusst von Witz und des 
         eigenen Geschmacks).
